# ROS specific ignores
ros_ws/build/
ros_ws/devel/
ros_ws/install/
ros_ws/.catkin_workspace
ros_ws/.catkin_tools/
ros_ws/logs/

# Ignore everything in ros_ws except src
ros_ws/*
!ros_ws/src/

# Common ROS and C++ ignores
*.pyc
*.pyo
*.so
*.o
*.a
*.cmake
*.internal
*~
.Python

# IDE specific 
.vscode/
.idea/
*.swp
