<?xml version="1.0" ?>

<robot name="ati_pad" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Include the ati gamma URDF -->
  <xacro:include filename="ati_net_gamma.urdf" />
  
  <!-- Include the tactile pad URDF -->
  <xacro:include filename="tactile_pad.urdf" />

   <!-- Fixed joint to attach the ati_net_gamma to the mounting_pad -->
  <joint name="ati_net_gamma_to_mounting_pad" type="fixed">
    <parent link="ati_net_gamma"/>
    <child link="mounting_pad"/>
    <origin xyz="0 0 -0.0146" rpy="0 3.141592654 -0.52359878"/>
  </joint>

</robot>