<?xml version="1.0" ?>

<robot name="ati_net_gamma" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ati-net-gamma Link -->
  <link name="ati_net_gamma">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/> 
      <geometry>
        <mesh filename="package://virtual_tactile_pad/urdf/meshes/ati_net_gamma.stl"/> 
      </geometry>
      <material name="ati_net_gamma_gray"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://virtual_tactile_pad/urdf/meshes/ati_net_gamma.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.145"/> 
      <origin xyz="0 0 0" rpy="0 0 0"/> 
      <inertia ixx="0.4644" ixy="0.035" ixz="0.00153" iyy="0.6389" iyz="0.00056" izz="0.9040"/>
    </inertial>
  </link>
</robot>