<?xml version="1.0"?>
<robot name="tactile_pad">

  <!-- Mounting Pad Link -->
  <link name="mounting_pad">
    <visual>
      <geometry>
        <mesh filename="package://virtual_tactile_pad/urdf/meshes/mounting_pad.stl" />
      </geometry>
      <material name="mounting_pad_gray"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://virtual_tactile_pad/urdf/meshes/mounting_pad.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.184292"/>
      <inertia ixx="0.0000361368" ixy="0.0" ixz="0.0" iyy="0.000046691" iyz="0.0" izz="0.00007688"/>
    </inertial>
  </link>

  <!-- Pad Link -->
  <link name="pad">
    <visual>
      <geometry>
        <mesh filename="package://virtual_tactile_pad/urdf/meshes/pad.stl" />
      </geometry>
      <material name="pad_blue"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://virtual_tactile_pad/urdf/meshes/pad.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.145376"/>
      <inertia ixx="0.0002345" ixy="0.0" ixz="0.0" iyy="0.0004074" iyz="0.0" izz="0.0001733"/>
    </inertial>
  </link>

  <!-- Rigid Joint between Mounting Pad and Pad -->
  <joint name="mounting_pad_to_pad" type="fixed">
    <parent link="mounting_pad"/>
    <child link="pad"/>
    <origin xyz="0 0 0" rpy="0 0 0."/>
  </joint>

</robot>


