<launch>
  <!-- Define the use_ft_sensor parameter-->
  <arg name="use_ft_sensor" default="false" />

  <!-- Define the use_simulator argument-->
  <arg name="use_simulator" default="false" />

  <!-- Define the calibration_type argument, default to static -->
  <arg name="calibration_type" default="static" />

  <!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find virtual_tactile_pad)/urdf/panda_arm.urdf use_ft_sensor:=$(arg use_ft_sensor)" />

  <!-- Start robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Start joint state publisher with GUI -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <!-- Start FT process node -->
  <node name="ft_process" pkg="virtual_tactile_pad" type="ft_process_node.py" output="screen">
    <param name="use_simulator" value="$(arg use_simulator)" />
    <param name="calibration_type" value="$(arg calibration_type)" />
  </node>

  <!-- Start contact visualizer node -->
  <node name="ft_visualize" pkg="virtual_tactile_pad" type="visualize_node.py" output="screen" />

  <!-- Start RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find virtual_tactile_pad)/rviz/ft_config.rviz" />

</launch>