<launch>
  <!-- Define arguments -->
  <!-- optitrack has to be launch separetly if set to true -->
  <arg name="use_optitrack" default="true" />  
  <arg name="use_ft_sensor" default="true" />
  <arg name="use_panda" default="false" />
  <arg name="use_simulation" default="false" />
  <arg name="calibration_type" default="static" />
  <arg name="robot_ip" default="172.16.0.1" unless="$(arg use_simulation)" />

  <!-- Include the contact visualization launch file -->
  <include file="$(find virtual_tactile_pad)/launch/contact_visualization.launch">
      <arg name="use_ft_sensor" value="$(arg use_ft_sensor)" />
      <arg name="use_panda" value="$(arg use_panda)" />
      <arg name="calibration_type" value="$(arg calibration_type)" />
      <arg name="robot_ip" value="$(arg robot_ip)" unless="$(arg use_simulation)" />
  </include>

  <!-- Start data saver node -->
  <node name="data_saver" pkg="virtual_tactile_pad" type="data_saver_node.py" output="screen">
    <param name="use_optitrack" value="$(arg use_optitrack)" />
    <param name="use_ft_sensor" value="$(arg use_ft_sensor)" />
    <param name="use_panda" value="$(arg use_panda)" />
  </node>

</launch>